/* button start */
/* ============ */

  
  .button {
    position: relative;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #1e9ddd;
    padding: 1em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
  }
  .button span {
    position: relative;
    pointer-events: none;
  }
  .button::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
 
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
  }
  .button:hover::before {
    --size: 400px;
  }
  
  /* collapse start */
  .card-header .title {
    font-size: 17px;
    color: #000;
}
.card-header .accicon {
  float: right;
  font-size: 20px;  
  width: 1.2em;
}
.card-header{
  cursor: pointer;
  border-bottom: none;
}
.card{
  border: 1px solid #ddd;
}
.card-body{
  border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}



.scrollup{
  font-size: 20px;color: #fff; background-color: #2196F3;
  border: 1px solid #A2A2A2;
  text-align: center;
  padding: 6px;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 50px;
  right:30px;
  cursor: pointer;
  }